:root {
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --primary-font-family: 'Playfair Display', serif;
    --secondary-font-family: 'Poppins', sans-serif;
}


.name {
    font-family: var(--primary-font-family);
    font-size: 96px;
    font-weight: bold;
    margin-bottom: 20px;
}

.greeting {
    font-family: var(--secondary-font-family);
    font-size: 32px;
    font-weight: bold;
    color: #272142;
    margin-bottom: 10px;
}

.description {
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: 400;
    color: #272142;
    margin-top: 20px;
    margin-bottom: 80px;
}

.first-btn {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: var(--branding-color);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-top: 100px;
}

.first-btn:hover {
   color: white;
   background-color: #4E44FD;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}